.form_header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
}

.form_card {
  display: flex;
  width: 1000px;
  height: 390px;
  background-color: rgb(29, 28, 28);
  margin: 0 auto;
  border-radius: 15px;
}

.form_card_left_side {
  max-width: 500px;
  padding: 15px;
}

.form_card_btn_number {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(79, 212, 79);
  border-style: none;
  margin-top: 67px;
  margin-left: 15px;
}

.form_card_numer_text {
  color: white;
  font-size: 18px;
}

.form_card_text_left {
  color: white;
  max-width: 350px;
  margin: 15px;
}

.fill_in_form {
  margin-bottom: 30px;
}

.form_inputs {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 550px;
}

.form_inputs_titles {
  margin-bottom: 5px;
  color: white;
  margin-right: 200px;
  margin-top: 30px;
}

.form_input_write_name,
.forn_input_write_number {
  width: 350px;
  height: 50px;
  background-color: rgb(43, 41, 41);
  border-radius: 10px;
  color: white;
  border-style: none;
  padding: 15px;
}

.form_btn_send_form {
  width: 350px;
  height: 50px;
  background-color: rgb(43, 41, 41);
  border-radius: 10px;
  color: white;
  border-style: none;
  margin-top: 40px;
  opacity: 1;
  font-size: 18px;
}

.error {
  color: red;
}

.btn_send:hover,
.form_card_btn_number {
  color: white;
  background-color: rgb(45, 187, 75);
}

.form_input_write_name:hover,
.forn_input_write_number:hover {
  opacity: 0.6;
}
