.single_page_header{
  text-align: center;
 margin-top: 30px;
 margin-left: 250px;
 max-width: 1400px;
}

.single_page {
  display: flex;
  margin-left: 250px;
  margin-top: 40px;
}
.single_page_left_side{
  max-width: 600px;
}

li {
  margin-top: 7px;
}

ul {
  margin-bottom: 18px;
}

.single_page_right_side {
  margin-left: 100px;
}

.single_page_right_side h3 {
  margin-left: 125px;
  margin-bottom: 30px;
}

.test1 {
  max-width: 300px;
  max-height: 450px;
}
