.footer {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  justify-content: center;
  margin-top: 50px;
  height: 400px;
  background-color: rgb(23, 46, 46);
}

nav {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.footer_nav_socials {
  font-size: 35px;
}

.footer_nav_socials img {
  width: 60px;
  border-radius: 50%;
}

.footer_nav_socials {
  font-size: 35px;
}
.footer_nav_socials img {
  width: 60px;
  border-radius: 50%;
}

.footer_socials_block {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-right: 15px;
  gap: 20px;
}

.footer_nav_list {
  font-size: 25px;
}

.footer_nav_list li {
  margin-bottom: 10px;
  list-style-type: none;
}

.footer_nav_contacts {
  font-size: 25px;
}

.footer_nav_contacts li {
  margin-bottom: 10px;
  list-style-type: none;
}
.footer_contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer_text_privacy_policy {
  margin-top: 4px;
  font-size: larger;
  opacity: 0.8;
}

.footer_privacy_policy {
  display: flex;
  justify-content: center;
  background-color: rgb(23, 46, 46);
}

.footer_avtor_policy {
  display: flex;
  position: relative;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: rgb(23, 46, 46);
  border-radius: 50%;
}

.footer_avtor_policy::before {
  position: absolute;
  top: 5.5px;
  left: 9.5px;
  content: "C";
  color: grey;
}

.footer_avtor_policy::after {
  position: absolute;
  top: 3.5px;
  left: 4.4px;
  content: "";
  border: solid;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border-width: 2px;
  color: grey;
}

.footer_nav_contacts_header {
  margin-bottom: 20px;
  color: rgb(5, 235, 235);
}
