.main_fon {
  width: 100%;
}

.main_fon_image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main_fon_overlay_icon {
  position: absolute;
  top: 18%;
  left: 22%;
  font-weight: bold;
  font-size: 100px;
  z-index: 1;
}

.main_fon_overlay_text {
  position: absolute;
  top: 31%;
  left: 22.4%;
  font-weight: bold;
  font-size: 24px;
  z-index: 1;
  transform: translate(0px, -120%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

.main_fon_btn {
  position: absolute;
  top: 47%;
  left: 22.4%;
  width: 200px;
  height: 50px;
  border-radius: 7.5px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 16px;
  z-index: 2;
  transform: translate(0px, -240%);
  opacity: 0;
  transition: all 0.8s ease 0s;
}

/* Анімації */

.main_fon_animation {
  transform: translate(0px, 0%);
  opacity: 1;
}

/* Анімації */
