.filter_field {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 450px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select,
.btn_clear_filter,
input {
  width: 200px;
  height: 40px;
  border: ridge;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
}

.btn_clear_filter:active {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

input::placeholder {
  color: black;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
