.filter_field {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 450px;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

select,
.clear_filter {
  border-radius: 10px;
  background-color: #fff;
}

.clear_filter:active {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
